* {
    box-sizing: border-box;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-top: 100px;
    border: 0.2px solid grey;
    border-radius: 20px;
    padding: 100px 100px;
}

span {
    font-size: 30px;
}

.input {
    display: flex;
    gap: 20px;
    align-items: center;
}

label {
    font-size: 20px;
}

input {
    border-radius: 20px;
    border: 0.3px solid grey;
    height: 30px;
    padding-left: 10px;
}

.button {
    border-radius: 20px;
    border: 0.2px solid grey;
    padding: 10px 30px;
    font-size: 14px;
    background: white;
}

.action {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    background: antiquewhite;
}

.ok_btn {
    display: none;
}

.button_wrapper {
    display: flex;
    gap: 30px;
}

#error {
    color: red;
    font-size: 15px;
}

.error_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}